form {
  width: 300px;
  background-color: #FFF;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  border: none;
  outline: none;
}

form:hover {
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}

form fieldset {
  border: none;
}

form fieldset p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

form fieldset p:not(:last-child) {
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

form fieldset p:last-child {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

form fieldset p:last-child a {
  text-decoration: underline;
  color: #C1C1C1;
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 0;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

form fieldset p:last-child a:hover {
  color: #000;
}

form label {
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 3px;
  color: #929292;
  font-weight: 700;
}

form input {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  height: 30px;
  outline: none;
  padding-left: 15px;
}

form input[type="submit"] {
  width: 110px;
  height: 35px;
  border-radius: 35px;
  padding: 0;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFF;
  background-color: #EC008D;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  border: 1px solid #ec008d;
  font-weight: 700;
  cursor: pointer;
}

form input[type="submit"]:hover {
  color: #ec008d;
  background-color: #fff;
}

form + p {
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #C1C1C1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

form + p a {
  text-decoration: underline;
  color: #C1C1C1;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  margin-left: 3px;
}

form + p a:hover {
  color: #000;
}